
<div class="container">
    <form #f="ngForm">
        <br>
        <label for="poduitName" class="form-label">poduitName</label>
        <input type="text" #poduitName="ngModel" ngModel name="poduitName" class="form-control"><br>
        
        <label for="poduitDescription" class="form-label">poduitDescription</label>
        <input type="text" #poduitDescription="ngModel" ngModel name="poduitDescription" class="form-control"><br>

        <label for="poduitPrice" class="form-label">poduitPrice</label>
        <input type="text" #poduitPrice="ngModel" ngModel name="poduitPrice" class="form-control"><br>

        <label for="poduitImage" class="form-label">poduitImage</label>
        <input type="text" #poduitImage="ngModel" ngModel name="poduitImage" class="form-control"><br>
      
        <button class="btn btn-primary" (click)="postPc(f.value)" >
            Post 
        </button>

    </form>
</div>
